
fichero {
    background-color:rgb(255, 255, 255);
}

ficha {
    background-color:rgb(255, 255, 255); 
    display:block;
} 

nombre {
    color:rgb(101, 26, 73); 
    display: block;
} 

apellido {
    color:rgb(0, 0, 0); 
    display: block;
}

direccion {
    color:rgb(22, 28, 58);
    font-size:1cm; 
    display: block;
}

telfono{
    background-color: blueviolet;
    font-size: 1cm;
    display: block;
}

email{
    background-color: rgb(226, 171, 43);
    font-size: 1cm;
    display: block;
}

website{
    background-color: rgb(219, 75, 62);
    font-size: 1cm;
    display: block;
}

dui {
    background-color: rgb(18, 247, 60);
    font-size: 1cm;
    display: block;
}

afp {
    background-color: rgb(49, 18, 247);
    font-size: 1cm;
    display: block;
}